.banner-home {
    height: 80vh;
    background-size: cover;
    background-position-y: -300px;
    position: relative;
}

.banner-home::after{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.banner-home div{
    color: white;
    z-index: 1;
}

/* card cars */
.image-cars {
    object-fit: cover;
    height: 300px;
}